.side-bar {
  height: 100%;
  background-color: #293846;
  padding-top: 5px;
}

.wrapper-side-bar {
  position: absolute;
  width: auto;
  height: 100%;
  transition: 200ms;
}
@media screen and (min-width: 600px) {
  .wrapper-side-bar {
    width: 300px;
  }
}
.side-bar .link {
  text-decoration: none;
  font-size: 20px;
  width: 100%;
  height: 70px;
  margin: 0%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
}
.link:hover {
  background-color: tomato;
  transition: 300ms;
  cursor: pointer;
}
.icon {
  flex: 20%;
  display: grid;
  place-items: center;
}
.title {
  flex: 50%;
  text-align: initial;
}
.wrapper-side-bar {
  z-index: 1;
}
